<p ng-show="$ctrl.object.$error.minlength" class="help-block">Valor <i>{{ $ctrl.object.$name}}</i> es muy corto.</p>
<p ng-show="$ctrl.object.$error.maxlength" class="help-block">Valor <i>{{ $ctrl.object.$name}}</i> es muy largo.</p>
<p ng-show="$ctrl.object.$error.pattern" class="help-block">Valor <i>{{ $ctrl.object.$name}}</i> es invalido.</p>
<p ng-show="$ctrl.object.$error.required && ($ctrl.object.$touched || $ctrl.object.$blurred)" class="help-block">Valor <i>{{ $ctrl.object.$name}}</i> es obligatorio.</p>