<div layout-align="center start" layout="row">
    <md-content class="md-whiteframe-1dp" flex-gt-xs="66" flex-xs layout-padding>
        <h3 class="md-headline">Botones</h3>
        <md-divider></md-divider>
        <h4 layout-align="center center" layout="row">Botones básicos</h4>
        <section layout-align="center center" layout-wrap layout="row" layout-xs="column">

            <md-button>Boton básico</md-button>
            <md-button md-no-ink class="md-primary">Color primario</md-button>
            <md-button ng-disabled="true" class="md-primary">Deshabilitado</md-button>
            <md-button class="md-warn">Modo advertencia</md-button>
        </section>
        <h4 layout-align="center center" layout="row">Botones con realce</h4>
        <section layout="row" layout-xs="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised">Boton</md-button>
            <md-button md-no-ink class="md-primary md-raised">Color primario</md-button>
            <md-button ng-disabled="true" class="md-primary md-raised">Deshabilitado</md-button>
            <md-button class="md-warn md-raised">Modo advertencia</md-button>
        </section>
        <h4 layout-align="center center" layout="row">Botones FAB</h4>
        <section layout="row" layout-xs="column" layout-align="center center" layout-wrap>
            <md-button class="md-fab" aria-label="Corazon">
                <md-icon md-font-icon="fa-user"></md-icon>
            </md-button>
            <md-button class="md-fab md-primary" aria-label="Inicio">
                <md-icon md-font-icon="fa-hospital-o"></md-icon>
            </md-button>
            <md-button ng-disabled="true" class="md-fab md-primary" aria-label="Inicio">
                <md-icon md-font-icon="fa-magic"></md-icon>
            </md-button>
            <md-button class="md-fab md-warn" aria-label="user">
                <md-icon md-font-icon="fa-home"></md-icon>
            </md-button>
        </section>
    </md-content>
</div>