<div layout-align="center start" layout="row">
    <md-content class="md-whiteframe-1dp" flex-gt-xs="66" flex-xs layout-padding>
        <h3 class="md-headline">Contenedores Tarjeta</h3>
        <md-divider></md-divider>
        <div layout-xs="column" layout-gt-xs="row">
            <md-card flex-xs flex-gt-xs="50">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Titulo</span>
                        <span class="md-subhead">subtitulo</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout-gt-xs="row" layout-align-gt-xs="end center" layout-xs="column">
                    <md-button class="md-raised md-primary"> Acción A</md-button>
                    <md-button class="md-raised">Acción B</md-button>
                    <md-button aria-label="Ir a home" class="md-accent md-raised">
                        <md-icon md-font-icon="fa-home"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex-xs flex-gt-xs="50">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Titulo</span>
                        <span class="md-subhead">subtitulo</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout-gt-xs="row" layout-align-gt-xs="end center" layout-xs="column">
                    <md-button class="md-raised md-primary"> Acción A</md-button>
                    <md-button class="md-raised">Acción B</md-button>
                    <md-button aria-label="Ir a home" class="md-accent md-raised">
                        <md-icon md-font-icon="fa-home"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>