<div layout-align="center start" layout="row">
    <md-content class="md-whiteframe-1dp" flex-gt-xs="66" flex-xs layout-padding>
        <h3 class="md-headline">Listas</h3>
        <md-divider></md-divider>
        <md-list flex>
            <md-subheader class="md-no-sticky">Ejemplo de lista con efecto Hover</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="user in $ctrl.data.users" ng-click="null">
                <img ng-src="{{user.img_url}}" class="md-avatar" alt="{{user.name}}"/>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ user.name }}</h3>
                    <h4>{{ user.rol }}</h4>
                    <p>{{ user.date | date }}</p>
                </div>
            </md-list-item>
        </md-list>

        <md-list dense>
            <md-subheader class="md-no-sticky">Lista con avatares e iconos de acción</md-subheader>
            <md-list-item ng-repeat="user in $ctrl.data.users" class="noright">
                <img alt="{{ user.name }}" ng-src="{{ user.img_url }}" class="md-avatar"/>
                <p>{{ user.name }}</p>
                <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                <md-icon aria-label="Send Email"
                         class="md-secondary md-hue-3" ng-click="null" md-font-icon="fa-home"></md-icon>
                <md-icon class="md-secondary" ng-click="null" aria-label="Chat"
                         md-font-icon="fa-magic"></md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</div>