<mdt-table layout-padding selectable-rows="true" mdt-row-paginator="$ctrl.getUsers(page, pageSize)" selected-row-callback="$ctrl.selectedRowCallback(rows)" delete-row-callback="$ctrl.deleteRowCallback(rows)" table-card="{title: 'Usuarios', visible: true }"
    alternate-headers="'contextual'" paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,50]}" mdt-row-paginator-error-message="Error happened during loading nutritions." mdt-row="{
                      'column-keys': [
                          'name.first',
                          'name.last',
                          'address',
                          'registered',
                          'company'
                      ]}">
    <mdt-header-row>
        <mdt-column align-rule="left" column-definition="Click para reordenar" column-sort="true"><span>Nombre</span></mdt-column>
        <mdt-column align-rule="left" column-definition="Click para reordenar" column-sort="true"><span>Apellido</span></mdt-column>
        <mdt-column align-rule="left" column-definition="Click para reordenar" column-sort="true"><span>Dirección</span></mdt-column>
        <mdt-column align-rule="left" column-definition="Click para reordenar" column-sort="true"><span>Fecha de registro</span></mdt-column>
        <mdt-column align-rule="left" column-definition="Click para reordenar" column-sort="true"><span>Compañia</span></mdt-column>

    </mdt-header-row>
</mdt-table>