<md-content layout-padding>
    <h1 class="md-headline">Mockups</h1>
    <md-divider></md-divider>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi illum ipsa nulla, quaerat quam quis. At autem ducimus eligendi impedit nesciunt? Commodi consectetur dicta facilis iste labore quas sit.
    </p>
</md-content>