<div layout-align-gt-xs="center center" layout="column" layout-gt-xs="row">
    <md-content id="login" class="md-whiteframe-1dp" flex-xs="100" flex-gt-xs="50" layout-padding cg-busy="{promise:$ctrl.login_promise ,message:'Validando usuario'}">
        <span class="mark">h<b>o1</b>a - <code>Expenses 360°</code></span>
        <form name="$ctrl.loginForm" novalidate>
            <md-input-container class="md-block" flex>
                <label>Usuario</label>
                <input ng-model="$ctrl.username" name="usuario" type="text" ng-minlength="5" ng-maxlength="15" md-maxlength="15" required>
                <messages object="$ctrl.loginForm.usuario"></messages>
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>Password</label>
                <input ng-model="$ctrl.password" name="password" type="password" ng-minlength="3" ng-maxlength="10" md-maxlength="10" required>
                <messages object="$ctrl.loginForm.password"></messages>
            </md-input-container>
            <section flex layout="column" layout-align="center center" class="md-block" flex>
                <md-button ng-click="$ctrl.login($ctrl.loginForm)" class="md-raised md-primary" ng-disabled="$ctrl.loginForm.$invalid">Iniciar Sesión</md-button>
            </section>
        </form>
    </md-content>
</div>