.today_nav {
	margin: 0.4rem auto;
	p {
		margin: 0.1rem;
		line-height: -1rem;
		font-weight: 200;
	}
	.day {
		font-size: 2.5rem;
	}
	.month {
		font-size: 1.6rem;
	}
}

.badge {
	padding: 0.4rem;
	color: #2b312b;
	background-color: #fff;
	border-radius: 0.5rem;
}
