<div layout="row" layout-fill ng-cloak>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left"
							md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar class="md-tall" layout-align="end end">
			<div class="md-toolbar-tools" layout layout-padding>
				<ng-md-icon icon="person" style="fill: white"></ng-md-icon>
				<div layout="column" layout-padding>
					<span class="md-body-2">{{$ctrl.data.user.name}}</span>
					<span class="md-caption">{{data.user.email}}</span>
				</div>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="User Settings" ng-click="toast('Logout')">
					<ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content role="navigation">
			<md-list ng-repeat="section in $ctrl.data.sidenav.sections">
				<md-list-item ng-click="section.expand = !section.expand">
					<p class="md-subheader md-primary">{{section.name}}</p>
					<span flex></span>
					<ng-md-icon class="md-primary md-icon-button"
											icon="{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}"></ng-md-icon>
				</md-list-item>
				<md-list-item ng-show="section.expand" ng-repeat="action in section.actions" ui-sref="{{action.link}}">
					<ng-md-icon icon="{{action.icon}}" style="fill: #4CAF50"></ng-md-icon>
					<p class="md-body-2">{{action.name}}</p>
					<span flex></span>
					<ng-md-icon icon="chevron_right"></ng-md-icon>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
	<section layout="column" role="main" flex>
		<md-toolbar role="toolbar">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="$ctrl.togglemenu('left')" hide-gt-md aria-label="Menu">
					<ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
				</md-button>
				<h4 class="md-title">{{$ctrl.data.title}}</h4>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="notificaciones" ng-click="$ctrl.togglemenu('right')">
					<ng-md-icon icon="notifications" style="fill: white"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<section id="content" role="content" layout="column" layout-padding md-scroll-y>
			<md-content class="md-whiteframe-z2" ng-cloak>
				<div ui-view>
				</div>
			</md-content>
		</section>
	</section>

	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
		<md-content ms-scroll layout-padding>
			<div layout="column" layout-align="end start">
				<div layout="column" layout-align="center center" class="today_nav">
					<p class="day">
						{{ $ctrl.today | date: 'EEEE d'}}
					</p>
					<p class="month">
						de {{ $ctrl.today | date: 'LLLL'}} del {{ $ctrl.today | date: 'yyyy'}}
					</p>
				</div>
			</div>
		</md-content>
		<md-content>
			<md-toolbar layout="row" class="md-accent" layout-align="center">
				<div class="md-toolbar-tools">
					<span class="md-subheader"> <b class="badge right">{{results.length}}</b>   Notificaciones</span>
				</div>
			</md-toolbar>
			<md-list flex class="md-dense">
				<md-list-item class="md-3-line"
											ng-repeat="noti in $ctrl.notifications  | filter:query as results"
											ui-sref="{{noti.state}}">
					<div class="md-list-item-text" layout="column">
						<h3>{{ noti.title }}</h3>
						<p>{{ noti.body }}</p>
					</div>
					<ng-md-icon icon="forward"></ng-md-icon>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-content>
	</md-sidenav>
</div>