@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
* {
    font-family: 'Roboto', sans-serif;
}

.ng-enter {
    animation: fadeIn 1s;
}

.ng-enter-active {
    opacity: 1;
}

body {
    overflow: hidden;
    background-color: #EEEEEE;
}

md-whiteframe {
    background: #fff;
}

#content {}