<div layout-align="center start" layout="row">
    <md-content class="md-whiteframe-1dp" flex-gt-xs="66" flex-xs layout-padding>
        <h3 class="md-headline">Formulario base</h3>
        <md-divider></md-divider>
        <form name="userForm">
            <div layout="row" layout-padding>
                <md-input-container class="md-block" flex="45">
                    <label>Nombres </label>
                    <input ng-model="$ctrl.user.name" type="text">
                </md-input-container>
                <md-input-container class="md-block" flex="45">
                    <label>Apellidos </label>
                    <input ng-model="$ctrl.user.lastname" type="text">
                </md-input-container>
            </div>

            <div layout="row" layout-padding>
                <md-input-container class="md-block" flex="60">
                    <label>Usuario </label>
                    <input ng-model="$ctrl.user.username" type="text">
                </md-input-container>

                <md-input-container class="md-block" flex="35">
                    <label>Edad </label>
                    <input ng-model="$ctrl.user.age" type="number">
                </md-input-container>
            </div>

            <md-input-container class="md-block" flex="70">
                <label>Télefono</label>
                <input ng-model="$ctrl.user.phone" type="tel">
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>Fechas</label>
                <md-datepicker ng-model="$ctrl.user.date"></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>Acerca de usted</label>
                <textarea ng-model="$ctrl.user.about" md-maxlength="150" rows="4" md-select-on-focus></textarea>
            </md-input-container>
        </form>
        <section flex layout="column" layout-align="center center" ng-if="$ctrl.user">
            <h3>Resultado</h3>
            <code flex="80">
                {{$ctrl.user}}
            </code>
            <md-button ng-click="$ctrl.enviar()" class="md-raised md-primary">Enviar</md-button>
            <h1>{{ $ctrl.message}}</h1>
        </section>
    </md-content>
</div>